body {
    background-image: url(./Assets/gtpfbg.jpg)
  }
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    border-top: darkturquoise;
    text-align: center;
    padding: 3px;
    background-color: darkslategrey;
  }

h1 {
  color: whitesmoke;
  }

a {
  color: whitesmoke;
}

hr{
  background-color: whitesmoke;
}

.container { 
  position: relative;
  min-height: 100vh;
  width: 60%;
  padding: 10px;
  font-size: 20px;
  background-color: darkslategrey;
  color: whitesmoke;
}

.img-fluid {
  width: 75%;
  float: left;
  height: auto;
}


.float-left {
  padding-right: 15px;
  padding-left: 15px
}

.card {
  font-size: 20px;
  background-color: darkslategrey;
  color: whitesmoke;
}


#aboutMe {
  font-size: 20px;
  background-color: darkslategrey;
  color: whitesmoke;
  
}

