body {
    background-image: url(./assets/gtpfbg.jpg)
  }


#aboutMe {
    color: black;
    background-color: whitesmoke;
    
}

.container { 
  width: 60%;
  padding: 10px;
  background-color: whitesmoke
}

.img-fluid {
  width: 75%;
  float: left;
  height: auto;
}

h1 {
  color :rgb(5, 34, 87)
}

.float-left {
  padding-right: 15px;
  padding-left: 15px
}

footer {
  border-top: darkturquoise;
  text-align: center;
  padding: 3px;
  background-color: darkslategrey;
}